In [1]:
import numpy as np
import pandas as pd

# Original Inputs Data

In [2]:
df = pd.read_csv('Data/data.csv')

In [3]:
df.head()

                                              Inputs
0  id is 1, Gender is Male, Age is 44, Driving_Li...
1  id is 2, Gender is Male, Age is 76, Driving_Li...
2  id is 3, Gender is Male, Age is 47, Driving_Li...
3  id is 4, Gender is Male, Age is 21, Driving_Li...
4  id is 5, Gender is Female, Age is 29, Driving_...

# ML Data

In [4]:
def parse_inputs(s):
    pairs = s.split(", ")
    data = {}
    for pair in pairs:
        key, value = pair.split(" is ")
        if value.isdigit():
            value = int(value)
        data[key] = value
    return data

In [5]:
dict_list = [parse_inputs(cell) for cell in df['Inputs']]
new_df = pd.DataFrame(dict_list)

In [6]:
new_df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,more than two years,Yes,40454,26,217,1
1,2,Male,76,1,3,0,one to two years,No,33536,26,183,0
2,3,Male,47,1,28,0,more than two years,Yes,38294,26,27,1
3,4,Male,21,1,11,1,less than one year,No,28619,152,203,0
4,5,Female,29,1,41,1,less than one year,No,27496,152,39,0

In [7]:
new_df.shape

(381109, 12)

In [28]:
new_df.to_csv('Data/data_ML.csv', index=False)

# Training Data and Test Data

In [34]:
from sklearn.model_selection import train_test_split

In [40]:
train_df, test_df = train_test_split(new_df, test_size = 0.3, random_state=3)

In [41]:
train_df.shape

(266776, 12)

In [42]:
test_df.shape

(114333, 12)

In [43]:
train_df.to_csv('Data/training_data.csv', index=False)
test_df.to_csv('Data/test_data.csv', index=False)